
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin page</title>
<link rel=stylesheet   th:href="@{/index.css}">

</head>
<body>
<h2>Welcome to ADMIN PAGE</h2>
<br><br>





<form action="newsong" >
<input type="submit" value="ADD SONGS">
</form><br>

<form action="viewsongs" >
<input type="submit" value="VIEW SONGS">
</form><br>

<form action="createplaylist" >
<input type="submit" value="CREATE PLAYLIST">
</form>
<br>

<form action="viewplaylist" >
<input type="submit" value="VIEW PLAYLIST">
</form><br>




<form action="Index" >
<input type="submit" value="<<<<<  GO TO INDEX PAGE">
</form><br>
<br>
</body>
</html>
