<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DisplaySongs</title>
</head>
<body> 

<form action="serch"></form>
<input type="text" id="searchInput" placeholder="Search...">
<button onclick="searchPlaylist()">Search</button>


<script>
  function searchPlaylist() {
    // Get the input value
    var searchQuery = document.getElementById('searchInput').value;

    // Perform search functionality or update the page as needed
    alert("Searching for: " + searchQuery);
    // You can add more code here to handle the search logic

    // For now, let's just show an alert with the search query
  }
</script>


</form>



<table border="1">
<thead>
<tr>
<th>Name</th>
<th>Artist</th>
<th>Genre</th>
<th>Play</th>
</tr>
</thead>

<tbody>
<tr th:each="s:${songs}">

<td th:text="${s.name}"></td>
<td th:text="${s.artist}"></td>
<td th:text="${s.genre}"></td>

<td>
<audio controls><source th:src="${s.link}"></audio>
</td>
</tr>

</tbody>

</table>
</body>
</html>